<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HdepartmentMapper">
	
	<!--表名 -->
	<sql id="table">
		t_department_info
	</sql>
	
	<sql id="Field">
		depParent,
		depName,
		depPhone,
		depHos,
		principal,
		cellPhone,
		isWork
	</sql>

	<sql id="FieldValue">
		#{depParent},
		#{depName},
		#{depPhone},
		#{depHos},
		#{principal},
		#{cellPhone},
		#{isWork}
	</sql> 
	
	
	
	<!-- 列表 -->
	<select id="departmentlistPage" parameterType="page" resultType="pd">
		select  a.id,a.depParent,a.depName,a.depPhone,a.depHos,a.principal,
				a.cellPhone,a.isWork,b.name as hosName,
				(select c.depName  from t_department_info c where a.depParent = c.id) depParentName
		from  <include refid="table"></include>a join t_hospital b on a.depHos = b.id
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			and (
				a.depName = #{pd.keyword}
				or
				a.depName LIKE CONCAT(CONCAT('%', #{pd.keyword}),'%')
				)
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="departments" parameterType="pd" resultType="pd">
		select  *
		from  <include refid="table"></include>a where 1=1
		<if test="depHos != null and depHos != ''">
	    	and a.depHos = #{depHos}
	    	and a.isWork = 1
	    </if>
	</select>
	
	<select id="getDepartmentBydepHos" parameterType="pd" resultType="pd">
		select * from t_department_info where depHos=(
			select depHos from t_department_info 
			where id = #{id}
		) and id!=#{id}
	</select>
	
	<select id="getDepartments" parameterType="pd" resultType="pd">
		select * from t_department_info where 1=1
		<if test="id != null and id != ''">
			and depHos = #{hospitalId}
		</if>
	</select>
	
	<!-- 列出所有分类 -->
	<select id="listShop"  parameterType="pd" resultType="pd" >
		select *  from 
		<include refid="table"></include>
	</select>
		
	<!-- 删除-->
 	<delete id="deleteById" parameterType="pd">
		delete from <include refid="table"></include> 
		where 
			id = #{id}
	</delete> 
	
	<!-- 批量删除 -->
 	<delete id="deleteAll" parameterType="String">
		delete from <include refid="table"></include>
		where 
			id in
  			 <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</delete>
	
 	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  <include refid="table"></include>
		set 
		    <if test="depName != null and depName != ''">
		    depName					= #{depName},
		    </if>
		    <if test="depPhone != null and depPhone != ''">
		    depPhone					= #{depPhone},
		    </if>
		      <if test="principal != null and principal != ''">
		    principal					= #{principal},
		    </if>
		    <if test="cellPhone != null and cellPhone != ''">
		    cellPhone					= #{cellPhone},
		    </if>
		      <if test="depParent != null and depParent != ''">
		    depParent					= #{depParent},
		    </if>
		    <if test="depHos != null and depHos != ''">
		    depHos					= #{depHos},
		    </if>
		    <if test="isWork != null and isWork != ''">
		    isWork					= #{isWork},
		    </if>
		    id = #{id}
		where 
			id = #{id}		
		</update>
		
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select *
		from 
		<include refid="table"></include>
		where 
		id = #{id}		
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="finByHosAndDep" parameterType="pd" resultType="pd">
		select * from t_department_info where depHos=#{depHos}  and depName=#{depName}		
	</select>
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="table"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 通过名称获取数据 -->
	<select id="findByName" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="table"></include>
		where 
			name = #{name} LIMIT 1
	</select>
	
	<!-- 列表 -->
	<select id="getDeps" parameterType="pd" resultType="pd">
		select * from t_department_info a where 
        a.depHos = #{id}
	</select>	
		
</mapper>